/* ---------------------------main-section------------------- */

.main-section {
    position: relative;
    text-align: center;

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(29, 30, 34, 0.70) 0%, rgba(29, 30, 34, 0.70) 100%);
        z-index: -1;
    }

    .container {
        min-height: 100vh;
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 100px 20px 200px 20px;

        @include media('<phone') {
            padding: 100px 20px;
        }
    }

    .main-title {
        color: $white;
        font-family: $Calibre;
        font-size: 108px;
        font-weight: $semiBold;
        line-height: 90%;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    .sub-title {
        color: $white;
        font-family: $Calibre;
        font-size: 36px;
        font-weight: $semiBold;
        line-height: 90%;
        text-transform: uppercase;
        margin-bottom: 6px;

        @include media('<tablet') {
            font-size: 28px;
        }

        span {
            color: $blueFF;
        }
    }

    .text {
        color: $grayB5;
        font-size: 20px;
        margin-bottom: 30px;

        @include media('<tablet') {
            font-size: 18px;
        }
    }

    .down {
        position: absolute;
        bottom: 60px;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        @include media('<tablet') {
            display: none;
        }

        &:hover {

            .arrow-wrap {
                background-color: $blueFF;
                transform: translateY(10px);

                svg {
                    stroke: $white;
                }
            }

            .scroll-title {
                transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(360deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
            }

        }
    }

    .arrow-wrap {
        display: grid;
        place-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $white;
        transition: $anim_03;

        svg {
            margin-bottom: 20px;
            stroke: $black1F;
            transition: $anim_03;
        }
    }

    .scroll-title {
        color: $white;
        text-align: center;
        font-family: $Calibre;
        font-size: 20px;
        font-weight: $semiBold;
        line-height: 110%;
        text-transform: uppercase;
        transition: $anim_03;
    }
}

/* --------------------------planet-section------------------ */

.planet-section {
    position: relative;
    padding: 200px 0;
    background: $black1F;
    min-height: 900px;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    @include media('<tablet_s') {
        padding: 80px 0;
        justify-content: start;
        min-height: 800px;
        height: auto;
    }

    .planet {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        z-index: 1;
        transition: all 2s ease-out 0s;

        @include media('<tablet_s') {
            transform: translateX(-50%) scale(2);
            top: 30%;
            max-width: 410px;
        }

        @include media('<phone') {
            max-width: 100%;
            transition: all 1s ease-out 0s;
        }
    }

    .container {
        position: relative;
    }

    .text-box {
        max-width: 550px;
        opacity: 0;
        transition: opacity .7s ease 1s;

        @include media('<desktop') {
            max-width: 450px;
        }

        @include media('<tablet') {
            max-width: 350px;
        }

        @include media('<phone') {
            transition: opacity .7s ease 0s;
        }

        &.right {
            position: absolute;
            top: 50%;
            transform: translatey(-50%);
            right: 0;
            padding-right: 20px;
        }
    }

    .title {
        color: $white;
        margin-bottom: 8px;

        @include media('<desktop') {
            font-size: 44px;
        }

        @include media('<tablet') {
            font-size: 36px;
        }
    }

    .text {
        color: $grayB5;
        font-size: 30px;
        font-weight: $regular;
        text-transform: uppercase;
        margin: 0;

        @include media('<desktop') {
            font-size: 24px;
        }

        @include media('<tablet') {
            font-size: 18px;
        }
    }

    $animSpeed: 12s;
    $animDuration: .5s;

    .planet {
        animation-name: planet;
        animation-duration: $animSpeed;
        animation-delay: $animDuration;
        animation-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
        animation-fill-mode: forwards;
        animation-play-state: paused;
        animation-iteration-count: infinite;

        @include media('<tablet_s') {
            animation-name: planetTab;
        }
    }

    .left {
        animation-name: opacityLeft;
        animation-duration: $animSpeed;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        animation-play-state: paused;
        animation-iteration-count: infinite;
    }

    .right {
        animation-name: opacityRight;
        animation-duration: $animSpeed;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        animation-play-state: paused;
        animation-iteration-count: infinite;
    }

    &.animation {
        .planet {
            animation-play-state: running;
        }

        .left {
            animation-play-state: running;
        }

        .right {
            animation-play-state: running;
        }
    }

    @keyframes planet {
        0% {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        15% {
            top: 50%;
            left: 101%;
            transform: translate(-50%, -50%) rotate(-91deg);
        }

        20% {
            top: 50%;
            left: 99%;
            transform: translate(-50%, -50%) rotate(-89deg);
        }

        25% {
            top: 50%;
            left: 100%;
            transform: translate(-50%, -50%) rotate(-90deg);
        }

        40% {
            top: 50%;
            left: 100%;
            transform: translate(-50%, -50%) rotate(-90deg);
        }

        60% {
            top: 50%;
            left: -1%;
            transform: translate(-50%, -50%) rotate(-271deg);
        }

        65% {
            top: 50%;
            left: 1%;
            transform: translate(-50%, -50%) rotate(-269deg);
        }

        70% {
            top: 50%;
            left: 0%;
            transform: translate(-50%, -50%) rotate(-270deg);
        }

        90% {
            top: 50%;
            left: 0%;
            transform: translate(-50%, -50%) rotate(-270deg);
        }

        100% {
            top: 0;
            left: 50%;
            transform: translateX(-50%) rotate(-360deg);
        }
    }

    @keyframes planetTab {
        0% {
            top: 30%;
            transform: translateX(-50%) scale(2);
            max-width: 410px;
        }

        30% {
            top: 81%;
            transform: translate(-50%, -50%) rotate(-91deg) scale(2);
        }

        35% {
            top: 79%;
            transform: translate(-50%, -50%) rotate(-89deg) scale(2);
        }

        40% {
            top: 80%;
            transform: translate(-50%, -50%) rotate(-90deg) scale(2);
        }

        70% {
            top: 80%;
            transform: translate(-50%, -50%) rotate(-90deg) scale(2);
        }

        90% {
            top: 81%;
            transform: translate(-50%, -50%) rotate(-271deg) scale(2);
        }

        95% {
            top: 79%;
            transform: translate(-50%, -50%) rotate(-269deg) scale(2);
        }

        100% {
            top: 80%;
            transform: translate(-50%, -50%) rotate(-270deg) scale(2);
        }
    }

    @keyframes opacityLeft {
        0% {
            opacity: 0;
        }

        10% {
            opacity: 0;
        }

        20% {
            opacity: 1;
        }

        55% {
            opacity: 1;
        }

        60% {
            opacity: 0;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes opacityRight {
        0% {
            opacity: 0;
        }

        55% {
            opacity: 0;
        }

        60% {
            opacity: 1;
        }

        95% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }


}

/* ------------------------bestsellers-section--------------- */

.bestsellers-section {
    position: relative;
    padding: 80px 0;
    text-align: center;

    .container {
        position: relative;
        max-width: 1240px;
        padding: 0;
    }

    .title {
        margin-bottom: 36px;
    }

    .blue-btn {
        display: inline-block;
    }

    .mainSlider {
        margin-bottom: 45px;

        @include media('<1350px') {
            margin-bottom: 25px;
        }
    }

    .card {
        width: 100%;
        max-width: 350px;
    }

    .item {
        padding: 26px;
        border-radius: 26px;
        background: $whiteF9;
        margin-bottom: 16px;
        text-align: left;

        @include media('<phone') {
            padding: 20px;
        }
    }

    .stiker {
        display: inline-block;
        padding: 8px 14px 5px 14px;
        border-radius: 17px;
        background: $blueDFF;
        color: $blueFF;
        font-family: $Calibre;
        font-size: 16px;
        font-weight: $regular;
        line-height: 1;
        margin-bottom: 20px;

        @include media('<phone') {
            font-size: 14px;
        }
    }

    .test-item {
        cursor: grab;
    }

    .name {
        color: $black1F;
        font-family: $Calibre;
        font-size: 18px;
        font-weight: $semiBold;
        line-height: 110%;
        text-transform: uppercase;
        margin: 0;
    }

    .swiper-wrapper {
        align-items: center;
        min-height: 550px;

        @include media('<380px') {
            min-height: 450px;
        }
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        transition: $anim_07;
    }

    .swiper-slide-active {
        transform: scale(1.3) !important;
    }

    .prev,
    .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 80%;
        width: 30%;
        z-index: 1;
        cursor: pointer;

        @include media('<desktop') {
            height: 55%;
            width: 30%;
        }

        @include media('<phone') {
            width: 15%;
        }
    }

    .prev {
        left: 0;
    }

    .next {
        right: 0;
    }

    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 48px;
        height: 48px;
        display: grid;
        place-items: center;
        border-radius: 50%;
        background-color: $whiteF9;
        z-index: 2;
        cursor: pointer;
        transition: $anim_03;

        @include media('<1350px') {
            background-color: $blueFF;
        }

        &:hover {
            background-color: $blueFF;

            svg {
                fill: $white;
            }
        }


        svg {
            fill: $black1F;
            transition: $anim_03;

            @include media('<1350px') {
                fill: $white;
            }
        }

        &.left {
            left: -40px;

            @include media('<1350px') {
                left: 10px;
            }
        }

        &.right {
            right: -40px;

            @include media('<1350px') {
                right: 10px;
            }
        }
    }


    .pagination {
        display: none;
        justify-content: center;
        gap: 8px;
        margin-bottom: 40px;

        @include media('<1350px') {
            display: flex;
        }
    }

    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #E6E9EC;
    }

    .swiper-pagination-bullet-active {
        background-color: $blueFF;
    }
}

/* -------------------------experience-section---------------- */

.experience-section {
    padding: 100px 0;
    background-color: $whiteF9;

    @include media('<phone') {
        padding: 80px 0;
    }

    .title {
        text-align: center;
        margin-bottom: 60px;
    }

    .block {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .item-card {
        width: 47%;
        min-height: 320px;

        @include media('<tablet') {
            width: 100%;
        }

        @include media('<phone') {
            min-height: 0;
        }
    }
}

/* -------------------------industrial-section---------------- */

.industrial-section {
    padding: 100px 0;

    @include media('<phone') {
        padding: 80px 0;
    }

    .title {
        text-align: center;
        margin-bottom: 60px;

        @include media('<phone') {
            margin-bottom: 24px;
        }
    }

    .block {
        position: relative;

        @include media('<desktop') {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    }

    .box {

        @include media('<desktop') {
            display: flex;
            flex-direction: column-reverse;
            gap: 20px;
        }
    }

    .item-card {
        width: 45%;

        @include media('<desktop') {
            width: 100%;
            padding: 0;
        }

        @include media('>=desktop') {
            &:hover+.img-wrap {
                opacity: 1;
                z-index: 1;
            }
        }
    }

    .img-wrap {
        position: absolute;
        top: 0;
        right: 0;
        width: 45%;
        height: 100%;
        opacity: 0;
        border-radius: 25px;
        overflow: hidden;
        transition: $anim_05;
        z-index: -1;

        @include media('<desktop') {
            position: relative;
            z-index: 1;
            opacity: 1;
            min-height: 400px;
            width: 100%;
        }

        &.first {
            opacity: 1;
        }
    }
}

/* ----------------------------ready-section------------------ */

.ready-section {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px 0;
    overflow: hidden;

    @include media('<phone') {
        border-radius: 40px 40px 0px 0px;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(34, 147, 255, 0.20) 0%, rgba(34, 147, 255, 0.20) 100%);
        z-index: -1;
    }

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;
    }

    .title {
        color: $white;
        font-size: 82px;
        margin-bottom: 16px;

        @include media('<desktop') {
            font-size: 62px;
        }

        @include media('<tablet') {
            font-size: 48px;
        }
    }

    .text {
        color: $white;
        font-size: 20px;
        margin-bottom: 45px;

        @include media('<phone') {
            margin-bottom: 38px;
            font-size: 18px;
        }
    }
}