<header id="header">
    <div class="overflow"></div>
    <div class="container">
        <a href="index.html" class="logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M48 24C48 37.2548 37.2548 48 24 48C10.7452 48 0 37.2548 0 24C0 10.7452 10.7452 0 24 0C37.2548 0 48 10.7452 48 24ZM44.25 26.25C44.25 37.4338 35.1838 46.5 24 46.5C12.8162 46.5 3.75 37.4338 3.75 26.25C3.75 15.0662 12.8162 6 24 6C35.1838 6 44.25 15.0662 44.25 26.25ZM40.5 28.5C40.5 37.6127 33.1127 45 24 45C14.8873 45 7.5 37.6127 7.5 28.5C7.5 19.3873 14.8873 12 24 12C33.1127 12 40.5 19.3873 40.5 28.5ZM36.75 30.75C36.75 37.7916 31.0416 43.5 24 43.5C16.9584 43.5 11.25 37.7916 11.25 30.75C11.25 23.7084 16.9584 18 24 18C31.0416 18 36.75 23.7084 36.75 30.75Z" />
            </svg>
            <p class="logo-text">Armet</p>
        </a>
        <nav class="menu-wrap">
            <ul class="menu">
                <li class="menu-item"><a class="link link-close" href="#">About Us</a></li>
                <li class="menu-item"><a class="link link-close" href="#">Technology</a></li>
                <li class="menu-item">
                    <a class="link link-close" href="#">Products
                        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6" fill="none">
                            <path d="M1 0.75L5.5 5.25L10 0.75" stroke-linecap="round"/>
                        </svg>
                    </a>
                </li>
                <li class="menu-item"><a class="link link-close" href="#">News</a></li>
            </ul>
        </nav>
        <button class="burger">
            <span></span>
        </button>
    </div>
</header>