@font-face {
    font-family: "Calibre";
    src: url("../fonts/Calibre-Medium.ttf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Calibre";
    src: url("../fonts/Calibre-Semibold.ttf");
    font-style: normal;
    font-weight: 600;
}